.row
{
      height : 50px;
      width : 100%;
      
      
    }
.a1
     {
      width: 50%;
      height: 100%;
      background-color:  yellow;
      float: left;
    }
.a2
     {
      width: 50%;
      height: 100%;
      background-color: green;
      float: left;


    } 
   
    .b1
    {
      width: 25%;
      height: 100%;
      background-color:  red;
      float: left;
    }

.b2
     {
      width: 25%;
      height: 100%;
      background-color: greenyellow;
      float: left;


    }
    .b3
    {
      width: 25%;
      height: 100%;
      background-color: palevioletred;
      float: left;
    }

.b4
     {
      width: 25%;
      height: 100%;
      background-color: yellowgreen;
      float: left;


    }
    .c1
    {
      width: 33%;
      height: 100%;
      background-color:  orange;
      float: left;
    }

.c2
     {
      width: 33%;
      height: 100%;
      background-color: rgb(59, 71, 39);
      float: left;


    }
    .c3
    {
      width: 34%;
      height: 100%;
      background-color: palevioletred;
      float: left;
    }

.d1
     {
      width: 75%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      float: left;
}
.d2
{
  width: 25%;
  height: 100%;
  background-color: rgb(112, 216, 211);
  float: left;
}

.e1
 {
  width: 25%;
  height: 100%;
  background-color:red;
  float: left;
 }

 .e2
 {
  width: 75%;
  height: 100%;
  background-color: #19e657;
  float: left;
}
.f1
{
width: 20%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.f2
{
width: 80%;
height: 100%;
background-color:red;
float: left;
}
.g1
{
width: 40%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.g2
{
width: 30%;
height: 100%;
background-color:red;
float: left;
}
.g3
{
width: 30%;
height: 100%;
background-color:blueviolet;
float: left;
}

.h1
     {
      width: 50%;
      height: 100%;
      background-color:  yellow;
      float: left;
    }
    .h2
    {
     width: 50%;
     height: 100%;
     background-color:  pink;
     float: left;
   }
   .d1
   {
    width: 75%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    float: left;
}
.d2
{
width: 25%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.e1
{
width: 25%;
height: 100%;
background-color:red;
float: left;
}

.e2
{
width: 75%;
height: 100%;
background-color: #19e657;
float: left;
}
.f1
{
width: 20%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.f2
{
width: 80%;
height: 100%;
background-color:red;
float: left;
}
.g1
{
width: 40%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.g2
{
width: 30%;
height: 100%;
background-color:red;
float: left;
}
.g3
{
width: 30%;
height: 100%;
background-color:blueviolet;
float: left;
}

.h1
   {
    width: 50%;
    height: 100%;
    background-color:  yellow;
    float: left;
  }
  .h2
  {
   width: 50%;
   height: 100%;
   background-color:  pink;
   float: left;
 }
 .d1
 {
  width: 75%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  float: left;
}
.d2
{
width: 25%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.e1
{
width: 25%;
height: 100%;
background-color:red;
float: left;
}

.e2
{
width: 75%;
height: 100%;
background-color: #19e657;
float: left;
}
.f1
{
width: 20%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.f2
{
width: 80%;
height: 100%;
background-color:red;
float: left;
}
.g1
{
width: 40%;
height: 100%;
background-color: rgb(112, 216, 211);
float: left;
}

.g2
{
width: 30%;
height: 100%;
background-color:red;
float: left;
}
.g3
{
width: 30%;
height: 100%;
background-color:blueviolet;
float: left;
}

.h1
 {
  width: 10%;
  height: 100%;
  background-color:  yellow;
  float: left;
}
.h2
{
 width: 10%;
 height: 100%;
 background-color:  pink;
 float: left;
}
.h3
{
width: 10%;
height: 100%;
background-color:blue;
float: left;
}

.h4
 {
  width: 10%;
  height: 100%;
  background-color: mediumseagreen;
  float: left;
}
.h5
{
 width: 10%;
 height: 100%;
 background-color: purple;
 float: left;
}

.h6
 {
  width: 10%;
  height: 100%;
  background-color:  yellow;
  float: left;
}
.h7
{
 width: 10%;
 height: 100%;
 background-color:  pink;
 float: left;
}
.h8
{
width: 10%;
height: 100%;
background-color:blue;
float: left;
}

.h9
 {
  width: 10%;
  height: 100%;
  background-color: mediumseagreen;
  float: left;
}
.h10
{
 width: 10%;
 height: 100%;
 background-color: rgb(128, 0, 11);
 float: left;
}














